{% extends 'base.html' %}
{% block content %}
    <div class="sm:px-24 sm:py-32 px-10 py-10">
        <h2 class="font-sans tracking-tighter text-black text-6xl sm:text-7xl font-extrabold sm:w-96">Diagnosis of <span
                class="text-red">Diabetes </span>Mellitus</h2>
        <p class="mt-8 sm:w-96 font-light">Detecting medical conditions early and treating them is one of the most
            effective ways of living.</p>
        <a href="{{ url_for('predict') }}">
            <button type="button"
                    class="px-12 py-4 bg-black text-white mt-6 tracking-tight text-sm duration-500 border border-black hover:bg-white hover:text-black rounded-md">
                Run a test
            </button>
        </a>
    </div>
{% endblock %}