<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Diagonosis Portal</title>
    <link href="static/main.css" rel="stylesheet">
    <link rel="icon" type="image/icon" href="static/logo.svg">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body class="text-left custom-background">
    <div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <img class="masthead-brand" src="static/logo.svg" width="143" height="71" alt="">
    </div>
  </header>
  <div class="container">
  {% if prediction==1 %}
      <div class="alert alert-danger alert-dismissible" role="alert">
       <h4 class="alert-heading text-capitalise">ops!</h4>
       <p>I'm sorry to inform you that you may have diabetes. Ensure that you visit a hospital for futher diagnosis</p>
       <hr>
       <p class="mb-0">Note that our algorithm only has an accuracy of 82%</p>
      </div>
   {% elif prediction==0 %}
       <div class="alert alert-success alert-dismissible" role="alert">
        <h4 class="alert-heading">Congratulations!</h4>
        <p>I'm pleased to inform you that our algorithm didn't detect diabetes.</p>
        <hr>
        <p class="mb-0">Note that our algorithm only has an accuracy of 82%</p>
      </div>
   {% endif %}
   </div>
      <form action="/diagnosis" method="POST" class="container text-white">
          <div class="form-group">
            <label for="Pregnancies">Number of Pregnancies</label>
            <input type="number" class="form-control" name="Pregnancies" aria-describedby="Help" placeholder="Enter the number of Pregnancies">
          </div>
          <div class="row">
              <div class="col">
                <label for="BMI">BMI</label>
                <input type="number" class="form-control" name="BMI" placeholder="BMI">
             </div>
          <div class="col">
            <label for="Age">Age</label>
            <input type="number" class="form-control" name="Age" placeholder="Age">
        </div>
        </div>
          <div class="form-group">
            <label for="Glucose">Glucose</label>
            <input type="number" class="form-control" name="Glucose" placeholder="Glucose level">
          </div>
          <div class="form-group">
            <label for="BloodPressure">Blood Pressure</label>
            <input type="number" class="form-control" name="BloodPressure"  placeholder="Blood Pressure">
          </div>
          <div class="form-group">
            <label for="SkinThickness">Skin Thickness</label>
            <input type="number" class="form-control" name="SkinThickness" placeholder="Skin Thickness">
          </div>
          <div class="form-group">
            <label for="Insulin">Insulin</label>
            <input type="number" class="form-control" name="Insulin" placeholder="Insulin">
          </div>
          <div class="form-group">
            <label for="DiabetesPedigreeFunction">Diabetes family History</label>
            <input type="number" class="form-control" name="DiabetesPedigreeFunction" placeholder="Diabetes Pedigree Function">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
 </form>
  <footer class="mastfoot mt-auto inner cover">
    <div class="inner">
        <p>Made with <i class="fa fa-heart" style="color:#27AE60;" aria-hidden="true"></i>
            by
            <a class="font-weight-normal text-white" href="https://github.com/AjibsBaba" target="_blank">AjibsBaba</a>
        </p>
    </div>
  </footer>
</div>
</body>
</html>
