{% extends 'base.html' %}
{% block content %}
    {% if prediction==1 %}
      <div class="alert alert-danger alert-dismissible" role="alert">
       <h4 class="alert-heading text-capitalise">ops!</h4>
       <p>I'm sorry to inform you that you may have diabetes. Ensure that you visit a hospital for futher diagnosis</p>
       <hr>
       <p class="mb-0">Note that our algorithm only has an accuracy of 82%</p>
      </div>
   {% elif prediction==0 %}
       <div class="alert alert-success alert-dismissible" role="alert">
        <h4 class="alert-heading">Congratulations!</h4>
        <p>I'm pleased to inform you that our algorithm didn't detect diabetes.</p>
        <hr>
        <p class="mb-0">Note that our algorithm only has an accuracy of 82%</p>
      </div>
   {% endif %}
    <div class="container">
    <div class="row">
        <div class="col">
            <h3 class="mt-4">Data Collection Form</h3>
            <p class="text-muted mt-2">All the data collected here are required for the system to function and will not be stored</p>
            <form action="{{ url_for('diagnosis') }}" enctype="multipart/form-data" method="POST">
               <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">BMI</span>
                  <input type="number" class="form-control" placeholder="Enter your body mass index" aria-label="bmi" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">Age</span>
                  <input type="number" class="form-control" placeholder="Enter your age" aria-label="age" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">Insulin Level</span>
                  <input type="number" class="form-control" placeholder="Enter your body mass index" aria-label="bmi" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">Glucose Level</span>
                  <input type="number" class="form-control" placeholder="Enter your body mass index" aria-label="bmi" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">Blood Pressure</span>
                  <input type="number" class="form-control" placeholder="Enter your body mass index" aria-label="bmi" aria-describedby="basic-addon1">
                </div>
                <div class="mb-3">
                    <label for="exampleDataList" class="form-label">Family History with Diabetes</label>
                    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Click to Select">
                    <datalist id="datalistOptions">
                      <option value="Yes">
                      <option value="No">
                    </datalist>
                </div>
                <button type="submit" class="btn-submit">Predict</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}