{% extends 'base.html' %}
{% block content %}
    <div class="sm:px-24 sm:py-32 px-10 py-8">
        <h2 class="font-sans tracking-tighter text-black text-6xl sm:text-7xl font-extrabold">Diagnosis Form</h2>
        <p class="mt-6 font-light sm:w-2/3">All the data collected here is required in order to run a diagnosis and
            will not be stored on our database</p>
        <form action="{{ url_for('diagnosis') }}" class="mt-16" enctype="multipart/form-data" method="POST"
              autocomplete="off">
            <label>
                <input type="text" name="BMI" placeholder="Body Mass Index (BMI)"
                       class="rounded-md px-4 py-3 sm:w-2/3 w-full border border-black hover:border-red focus:outline-none"
                       required>
            </label>
            <label>
                <input placeholder="Age" name="Age" maxlength="3"
                       class="rounded-md mt-4 px-4 py-3 sm:w-2/3 w-full border border-black hover:border-red focus:outline-none"
                       required>
            </label>
            <label>
                <input placeholder="Insulin Level" name="Insulin" maxlength="3"
                       class="rounded-md mt-4 px-4 py-3 sm:w-2/3 w-full border border-black hover:border-red focus:outline-none"
                       required>
            </label>
            <label>
                <input placeholder="Glucose Level" maxlength="3" name="Glucose"
                       class="rounded-md mt-4 px-4 py-3 sm:w-2/3 w-full border border-black hover:border-red focus:outline-none"
                       required>
            </label>
            <label>
                <input placeholder="Blood Pressure" maxlength="3" name="BloodPressure"
                       class="rounded-md mt-4 px-4 py-3 sm:w-2/3 w-full border border-black hover:border-red focus:outline-none"
                       required>
            </label>
            <button type="submit"
                    class="mt-6 px-4 py-3 sm:w-1/2 w-full tracking-tighter rounded border border-red hover:bg-red hover:text-white text-red duration-500">
                Run Diagnosis
            </button>
        </form>
        <div>
            {% if prediction==1 %}
                <h4 class="font-bold tracking-tight mt-4">Oops</h4>
                <p class="font-light text-4xl">I'm sorry to inform you that you may have diabetes. Ensure that you visit
                    a hospital for further diagnosis as this web application is experimental</p>
            {% elif prediction==0 %}
                <h4 class="font-bold tracking-tight mt-4">Congratulations!</h4>
                <p class="font-light text-4xl">I'm pleased to inform you that our algorithm didn't detect diabetes you
                    are advised to visit a hospital for more tests.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}